<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/pin.png') }}" type="image/x-icon">
    <title>Google Maps Scraper</title>
    
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <img src="{{ url_for('static', filename='assets/unair.png') }}" id="unair" alt="unair">
            <img src="{{ url_for('static', filename='assets/jatim.png') }}" id="jatim" alt="bank_jatim">
        </div>
        <div class="navbar-title">
            <h1> Google Maps Scrapper. </h1>
        </div>
    </nav>


    <div class="hero">
        <div class="container">
            <h1>Google Maps Scraper</h1>
            <div class="input-container">
                <input type="text" id="searchTerm" placeholder="Enter search term" />
                <button class="clear-button" id="clear" onclick="clearInput('searchTerm')">x</button>
                <div class="button-container">
                    <button id="scrapeButton">Scrape</button>
                    <button id="download">Download Excel</button>
                    <div class="resett">
                        <button id="reset">Reset</button>
                    </div>
                </div>
            </div>
            <input type="number" id="totalResults" placeholder="Total results" />
            <div id="results"></div>
            <div id="loadingMessage">Data is being scraped...</div>
        </div>
    </div>

    

    <footer class="foot">
        <div class="footer-kiri">
            <div class="footer-logo">
                <img src="{{ url_for('static', filename='assets/unair.png') }}" id="unair2" alt="unair">
                <img src="{{ url_for('static', filename='assets/jatimwhite.png') }}" id="jatim2" alt="bank_jatim">
            </div>
            <p> © Copyright 2025 Google Maps Scraper. All Right Reserved.</p>
        </div>
        <div class="footer-kanan">
            
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>